body {
  -webkit-font-smoothing: subpixel-antialiased;
}

html, body {
font-family: "Arial", sans-serif;
font-size: 15px;
line-height: 1.35;
min-width: 1024px;
height: 100%;
color: #272727;
background: white;
-webkit-font-smoothing: antialiased;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

